extends layout

block content
  h1= "Admin Terrain"

  ul
    each terrain in terrains
      li
        a(href='/terrain/' + terrain.terrainId)= terrain.terrainName
        span(id=`terrain-dispo-${terrain.terrainId}`)= terrain.terrainDispo
        button(type='button' class='update-dispo-btn' data-terrain-id=terrain.terrainId)= 'Mettre à jour la disponibilité'

