extends layout

block content
  //- h1= title
  //- p Welcome to the #{title}

  h1 Voici la liste des terrains

  ul
  each terrain in terrains
    li
      a(href='/terrain/' + terrain.ID)= terrain.Name
